@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Insult-Button {
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.start-btn {
  /* background:    #3d85c6;
  background:    linear-gradient(#3d85c6, #073763); */
  border-radius: 5px;
  padding:       4px 10px;
  margin-left:   600px;
  /* color:         #ffffff;
  display:       inline-block;
  font:          normal 700 18px/1 "Open Sans", sans-serif;
  text-align:    center;
  text-shadow:   1px 1px #000000; */
} 