@import url('https://fonts.googleapis.com/css?family=Open+Sans');

p {
  font-family: 'Open Sans', sans-serif;
}

li {
  text-decoration: none;
  
}

button {
  background-color: skyblue;
  padding: 5px 10px;
  border-radius: 100px;
  transform: scale(2);
}